@* Parker Mecham, Section 1 *@

@{
    ViewData["Title"] = "Home Page";
}

@model IQueryable<Book>

<div class="text-center">
    <h1 style="font-size:50px"><b>Welcome to the Bookstore</b></h1>
</div>

@foreach (var x in Model)
{
    <div>


    </div>
}

<div class="text-center">

    <table class="table table-hover table-dark table-striped">
        <thead class="thead-dark">
            <tr><th>Title</th><th>Author First Name</th><th>Author Middle Name </th><th>Author Last Name</th><th>Publisher</th><th>ISBN</th><th>Classification</th><th>Category</th><th>Price</th></tr>
        </thead>

        <tbody>
            <!--This loop iterates through the model and gets all of the information that was entered in and adds it to the table-->
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.Title</td>
                    <td>@x.AuthFirstName</td>
                    <td>@x.AuthMiddleName</td>
                    <td>@x.AuthLastName</td>
                    <td>@x.Publisher</td>
                    <td>@x.ISBN</td>
                    <td>@x.Classification</td>
                    <td>@x.Category</td>
                    <td>@x.Price</td>

                </tr>
            }

        </tbody>
    </table>

</div>


<footer>Copyright Scamazon 2021</footer>