@* Parker Mecham, Section 1 *@

@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel

<!--This loop iterates through the model and gets all of the information that was entered in and adds it to the output-->
@foreach (var x in Model.Books)
{
     <div class="card card-outline-dark m-1 p-1">

         <div class="bg-dark p-1">


             <div class="card-body bg-dark">
                 <h2 class="display-3 text-center"><b>@x.Title</b></h2>
                 <br />
             </div>

             <div class="row">

                 <img style="height:50%; width:50%;" class="card-img-top col-4 m-1" src="@Url.Content(@x.Image)" alt="" />

                 <div class="col-6">

                     <ul class="list-group list-group-flush bg-dark">
                         <li class="list-group-item bg-dark"> Author: @x.AuthFirstName @x.AuthMiddleName @x.AuthLastName</li>
                         <li class="list-group-item bg-dark">Length: @x.NumPages Pages</li>
                         <li class="list-group-item bg-dark">Publisher: @x.Publisher</li>
                         <li class="list-group-item bg-dark">ISBN: @x.ISBN</li>
                         <li class="list-group-item bg-dark">Classification/Category: @x.Classification/@x.Category</li>
                         <li class="list-group-item bg-dark">Price: $@x.Price</li>
                     </ul>

                     <div class="card-body bg-dark">
                         <a style="font-size:24px" class="badge badge-pill badge-success" href="@x.PurchaseUrl">Purchase Here</a>
                     </div>
                 </div>

             </div>
             

         

         </div>
    </div>
    <br />
}

<!--Populates the button menu with the number of pages depending on the size of the database-->
<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     class="btn-group pull-right m-1">

</div>

<footer>Copyright Scamazon 2021</footer>